* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding-left: 170px;
  text-transform: uppercase;
  background-color: #a3a3a3;
  border: 2px solid #000;
}

a {
  padding: 20px 40px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
  color: black;
}

.background {
  margin-top: 20px;
  display: flex;
  background-image: url("../img/1.jpeg");
  background-size: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 1200px;
  width: 100%;


}

.youth_apple {
  padding: 30px;
  font-size: 39px;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

h1 {

  margin-left: 30%;
  margin-top: 17%;
  font-size: 7em;
  opacity: 80%;
  color: rgb(41, 149, 22);
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}

h4 {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  text-align: center;
  font-size: 34px;
}

h5 {
  font-size: larger;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.video-speech {
  display: flex;
  justify-content: center;
  text-align: center;
}



.main_dates {

  min-height: 2000px;
  background-color: #a3a3a3;
  min-width: 1020px;
  text-align: center;
}

span {
  font-style: italic;
}

.list-group-item {
  font-size: 24px;
  position: relative;
  display: block;
  padding: 20px;
  margin-bottom: -1px;
  border: 1px dotted #505050;
  font-family: 'Courier New', Courier, monospace;
}

.event_date {
  transform: scale(1.1);
  border: 3px solid #212223;
  margin: 20px auto;
  padding: 10px 20px;
  width: 220px;
  font-family: 'Courier New', Courier, monospace;
  word-break: break-all;
  display: inline-block;
}

header {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
}

nav {
  display: none;
  position: absolute;
  top: 0;
  padding-top: 10px;
  background: rgba(216, 243, 253, 0.692);
  width: 100%;
  user-select: none;
}

.jobs {
  display: flex;
  justify-content: center;
  background-color: #a3a3a3;
  padding: 10px;
  padding-top: 70px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#burger:checked+label+nav {
  display: block;
  animation: show .5s ease;
}

#burger:checked+[for=burger]::before {
  content: '?';
}


@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*iframe {
	display: flex;
	justify-content: center;
	/*margin-left: 300px;

}*/

.video-speech {
  background-color: #a3a3a3;
  justify-content: center;
  display: flex;
  padding: 120px;
  padding-bottom: 50px;
}


#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 10000000;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 100000;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}